body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.left {
    float: left;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    color: grey;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}
.score{
    color:grey;
    padding:10px;
}

.align-left {
    float: left;
}

.logi {
    align-items: center;
    /* float: left; */
    padding: 12px;
    /* -webkit-appearance: button; */
    /* -webkit-background-origin: padding-box; */
    /* -webkit-padding-start: 10px; */
    /* -webkit-background-clip: content-box; */
    /* align-content: flex-start; */
}

input#username {
    width: auto;
    padding: 5px;
    margin: 5px;
}

input#password {
    padding: 5px;
    margin: 5px;
}

input#submit_btn {
    padding: 5px;
    margin-top: 5px;
    margin-left: 0px;
}

input#signup {
    padding: 5px;
    float: inherit;
    margin: 5px;
}

form.logc {
    align-items: right;
    margin-right: 60px;
    -webkit-appearance: inherit;
    -webkit-app-region: drag;
    -webkit-box-align: center;
    padding: 20px;
}

.logic {
    float: initial;
    margin: 5px;
}

.artic {
    padding: 20px;
}
